<h2>RxJs Observables - Course</h2>

<h3>Section 1: Observable</h3>
<ul>
  <li><a routerLink="/observable-example">Chapter 1: Observable Example</a></li>
  <li>
    <a routerLink="/multiple-subscriptions"
      >Chapter 2: Multiple Subscriptions</a
    >
  </li>
  <li><a routerLink="/observable-exercise">Chapter 3: Exercise</a></li>
  <li>
    <a routerLink="/counter-unsubscription-example"
      >Chapter 4: Counter - Unsubscription Example</a
    >
  </li>
</ul>

<h3>Types of Observables</h3>
<ul>
  <li><a routerLink="/cold-observable">Chapter 1: Cold Observables</a></li>
</ul>

<h3>Creation Functions</h3>
<ul>
  <li><a routerLink="/creation-functions">Creation Functions</a></li>
</ul>

<h3>Pipeable Operators</h3>
<ul>
  <li><a routerLink="/filter-operator">Filter Operator</a></li>
  <li><a routerLink="/map-operator">Map Operator</a></li>
  <li><a routerLink="/tap-operator">Tap Operator</a></li>
  <li><a routerLink="/debounceTime-operator">Debounce Time Operator</a></li>
  <li><a routerLink="/catchError-operator">CatchError Operator</a></li>
</ul>

<h3>Subjects</h3>
<ul>
  <li><a routerLink="/creation">Filter</a></li>
</ul>